.cardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -30px;
}
.title{
    color: #fff;
    margin-top: 100px;

}
.cardContainer2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -30px;
}